

 #sidebar {
    width: 200px;
  
    /* background-color: black; */
    padding: 20px;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li {
    margin: 10px 0;
}

#sidebar ul li a {
    color: #333;
    text-decoration: none;
    display: block;
    text-align: center;
}

#sidebar ul li a img {
    width: 24px;  
    height: 24px; 
    display: block; 
    margin: 0 auto; 
}
hr.dotted {
    border-top: 1px dotted #000;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 100%;
} 
.btn{ 
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 50px;
    border: red;
    color: red;
   
}.btnn{
    display: flex;
    justify-content: center;
    text-align: center;
}

